*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
}
body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 46, 175);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile
{
    width: 25%;
    border-radius: 150px;
    padding: 15px;
}

.profile1{
    display: flex;
}

.Name
{
    padding-left: 5%;
    font-size: 50px;
    font-family: cursive;
}
.Numbers
{
    display: flex;
    align-items: center;
    padding: 25px;
}
.individual
{
    font-size: 25px;
    font-family: cursive;
    padding: 25px;
}
@media (max-width: 550px) and (min-width: 290px)
{
    .Name{
        font-size: 35px;
    }
}
