body{

overflow-y: hidden;

overflow-x: hidden;
  
padding: 0;

margin: 0;

background-color: #000000;

}

h1{
  text-align: center;
  color: azure;
}

.slider-frame{

  overflow: hidden;

  height: 800px;

  width: 1200px;

  margin-left: 200px;

  margin-top: 10px;

}



@-webkit-keyframes slide_animation{

  0% {left:0px;}

  10% {left:0px;}

  20% {left:1200px;}

  30% {left:1200px;}

  40% {left: 2400px;}

  50% {left: 2400px;}

  60% {left: 1200px;}

  70% {left: 1200px;}

  80% {left: 0px;}

  90% {left: 0px}

  100% {left: 0px}

}





.slide-images{

  width: 3600px;

  height:800px;

  margin: 0 0 0 -2400px;

  position: relative;

  -webkit-animation-name: slide_animation;

  -webkit-animation-duration: 33s;

  -webkit-animation-iteration-count: infinite;

  -webkit-animation-play-state: running;

}



.img-container{

height: 800px;

width: 1200px;

position: relative;

float: left;

}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}
input[name="r"]{
  position: absolute;
  visibility: hidden;
}